/mixpanel-android-build/.idea
tweaks-test/.idea
*.iml
build
/tweaks-test/build
/mixpanel-android-build/.gradle/
/tweaks-test/.gradle/
/mixpanel-android-build/gradle/
/tweaks-test/gradle/
/mixpanel-android-build/local.properties
/tweaks-test/local.properties
